.dashboard-root {
  height: 100vh;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  color: #F5F0E1;
  background: #07133b;
}

.dashboard-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.dashboard-header {
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  background: #101a41;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Instrument Serif', Georgia, serif;
  font-size: 33px;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #F5F0E1;
}


.dashboard-left {
  width: 200px;
  background: #1a254f;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dashboard-logout,
.dashboard-published,
.dashboard-user-owned,
.dashboard-home {
  padding: 4px 8px;
  border: 2px solid #1a254f;
  border-radius: 999px;
  background: #1a254f;
  color: #F5F0E1;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.dashboard-logout {
  margin-top: auto;
}

.dashboard-home:hover,
.dashboard-published:hover,
.dashboard-user-owned:hover,
.dashboard-logout:hover {
  box-shadow: 0 0 12px #3FB6B2;
  transition: box-shadow 0.2s ease;
}

.dashboard-create {
  padding: 4px 12px;
  border: 2px solid #1a254f;
  border-radius: 999px;
  background: #00b9b3;
  color: #1a254f;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  cursor: pointer;
  margin-left: 20px;
}

.dashboard-create:hover {
  box-shadow: 0 0 12px #00b9b3;
  transition: box-shadow 0.2s ease;
}

.dashboard-continue,
.dashboard-edit {
  padding: 4px 12px;
  border: 2px solid #1a254f;
  border-radius: 999px;
  background: #00b9b3;
  color: #1a254f;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  margin-left: 20px;
  font-size: 14px;
  width: 200px;
  text-align: center;
}

.dashboard-continue {
  font-weight: 900;
  margin-top: 24px;
}

.dashboard-edit {
  font-weight: 600;
}

.dashboard-continue:hover,
.dashboard-edit:hover {
  box-shadow: 0 0 12px #00b9b3;
  transition: box-shadow 0.2s ease;
}

.dashboard-banner {
  font-family: 'Instrument Serif', Georgia, serif;
  font-size: 55px;
  font-weight: 700;
  color: #F5F0E1;
  align-self: flex-start;
  margin-top: 12px;
  margin-left: 24px;
  margin-bottom: 24px;
}

.dashboard-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.dashboard-greeting,
.dashboard-no-set,
.dashboard-message {
  margin: 0 auto;
  font-family: 'Instrument Serif', Georgia, serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center; 
}

.dashboard-flashcards {
  display: flex;
  justify-content: left;
}


.dashboard-set-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
  width: 100%;
  align-self: flex-start;
}

.dashboard-set-card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 15px;
  border: 1px solid #e5e4e7;
  border-radius: 40px;
  background: #2a3b78;
  color: inherit;
  text-align: left;
  cursor: pointer;
  margin-left: 24px;
  width: 500px;
  height: fit-content;
}

.dashboard-set-title {
  font-family: 'Instrument Serif', Georgia, serif;
  font-size: 30px;
  font-weight: 700;
  color: #F5F0E1;
  align-self: flex-start;
  margin-left: 2px;
}

.dashboard-set-updated {
  margin-top: -6px;
  display: flex;
  font-family: 'Instrument Serif', Georgia, serif;
  font-size: 15px;
  font-weight: 500;
  color: #707ba5;
  align-self: flex-start;
  margin-left: 2px;
  gap: 24px;
}


.dashboard-search-bar {
  padding: 12px;
  border: 2px solid #707ba5;
  border-radius: 20px;
  background: #334071;
  color: #707ba5;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 24px;
  margin-left: 24px;
  display: flex;     
  align-items: center; 
  gap: 8px; 
}

.dashboard-search-bar input {
  background: transparent;
  border: none;
  outline: none;
  color: #F5F0E1;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  width: 100%;
}

.dashboard-search-bar input::placeholder {
  color: #707ba5;
}